@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mulish-200 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.mulish-300 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.mulish-400 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.mulish-500 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.mulish-600 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.mulish-700 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.mulish-800 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.mulish-900 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.mulish-1000 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}
.brawler-400 {
    font-family: "Brawler", serif;
    font-weight: 400;
    font-style: normal;
}
  
  .brawler-700 {
    font-family: "Brawler", serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p{
    font-weight: 0;
}


/* 1. Buttons */

.button{
    padding: .75rem 1.25rem;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    max-width: fit-content;
    text-decoration: none;
    
}
.primary-btn{
    background-color: #000;
    color: white;
}
.primary-btn:hover{
    background-color: #EB6928;
    border-color: #EB6928;
}
.secondary-btn{
    background-color: white;
    color: #000;
}
.secondary-btn:hover{
    background-color: #EB6928;
    color: #fff;
    border-color: #EB6928;
}

.region-active, .button-active{
    background-color: #EB6928;
    color: white;
}

.button-active{
    border: 1px solid #EB6928;
}
.button-active:hover{
    color: #EB6928;
    background-color: #fff;
}



/* 2. Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}
.logo-container{
    padding: 8px;
    border-right: 1px solid;
    max-width: fit-content;
}
.logo-img{
    width: 75px;
    height: 75px;
}
nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-right: 3.5rem;
}
nav .main-menu{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}
.main-menu-item{
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 15rem;
    z-index: 1;
    padding-top: .5rem;
    border: 1px solid black;
}
.main-menu-item:hover > .dropdown-content{
    display: block;
}
.dropdown-content li {
    padding: .75rem;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
}

.dropdown-content li:hover {
    background-color: #FFF1EA;
}

.dropdown-content li:hover > .dropdown-content-side{
    display: block;
    z-index: 2;
    left: 100%;
}


/* 3. Banner */


.banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #d6c537;
    color: #000;
    gap: 4rem;
    border-bottom: 1px solid black;
}
.banner-text, .banner-image {
    flex: 1;
}
.banner-text h1, .banner-text p{
    padding-left: 15rem;
}
.banner-text h1 {
    margin: 0;
    font-size: 3em;
}
.banner-text p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}
.banner-buttons {
    display: flex;
    gap: 10px;
    padding-left: 15rem;
}
.banner-image{
    height: 60vh;
}
.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 4. COP 28 Section */

.cop-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 6.5rem;
    gap: 3rem;
}
/* .cop-section .images, .cop-section .content{
    flex: 1;
} */
.cop-img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cop-section .image-row2, .about-section .image-row2{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.cop-section .content h1, .cop-section .content p, .cop-section .content ul{
    max-width: 38rem;
}
.cop-section .content h1, .cop-section .content p{
    margin-bottom: 1.5rem;
}
.cop-section .content ul{
    margin-bottom: 3rem;
}


/* 5. Latest News */

.latest-news {
    padding: 0 10rem;
    margin-bottom: 7rem;
}

.latest-news h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
}

.card {
    border: 1px solid black;
}

.latest-news .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card .date, .card h3{
    text-align: left;
}

.card .date {
    font-size: 0.875rem;
    color: black;
    padding: 1rem 1rem 0rem 1rem;
    width: 100%;
}

.card h3 {
    font-size: 1rem;
    margin: 0rem 1rem 2.5rem 1rem;
}


/* 6. Video Section */

.video-section{
    background: #EEEEEE;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-title{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}
.video{
    margin-bottom: 3rem;
}
.video-subtext{
    margin-bottom: 3rem;
    font-size: 2rem;
}


/* 7. Podcast */

.latest-podcasts, .dcj-members {
    margin: 7rem 0;
    padding: 0 11.125rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.header h2 {
    margin: 0;
    font-size: 2.5rem;
}

.view-more {
    padding: 1rem 1.25rem;
    border: 1px solid #ff4500;
    background: none;
    cursor: pointer;
}

.podcast-cards, .member-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.podcast-card, .member-card {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.icon {
    margin-right: 3rem;
    padding: 3rem;
    border-right: 1px solid;
    background-color: #DCDCC4;
}

.icon img {
    width: 3rem;
    height: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h3 {
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.date {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.play-btn, .volume-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.duration {
    margin: 0 1rem;
    font-size: 0.875rem;
}


/* 8. Working Group */

.working-group {
    padding: 0 11.125rem;
    margin-bottom: 16rem;

}

.working-group h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.working-group .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    background: #DFD54D;
}

.working-group .card img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.75rem;
}

.working-group .card h3 {
    margin: 0.75rem 0 0.75rem 0;
    font-size: 1.25rem;
    text-align: center;
}

.working-group .card p {
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: .75rem;
}


/* DCJ members homepage */

.member-card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-card h3{
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-top: 1.5rem;

}
.member-card h3 span{
    color: #EB6928;
}
.member-card .member-content{
    font-size: 1.125rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}
.member-card .icon{
    padding: 4rem;
}
.member-card .icon img{
    width: 5.5rem;
    height: 5.5rem;
}
.member-card .forward-btn{
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-bottom: 1rem;
    align-self: flex-end;
    margin-right: 2rem;
    cursor: pointer;
}
.member-card .forward-btn svg:hover > path{
    stroke: #EB6928;
    fill: #EB6928;
}



/* 9. Campaign Section */

.campaign-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 7rem;
    background-color: #000;
    padding: 6.25rem;
}

.campaign-section .content h1, .campaign-section .content p, .campaign-section .content ul{
    max-width: 38rem;
}
.campaign-section .content h1, .campaign-section .content p{
    margin-bottom: 1.5rem;
}
.campaign-section .content h1{
    color: #DCDCC4;
}
.campaign-section .content p{
    color: #fff;
}
.campaign-section .content ul{
    margin-bottom: 3rem;
    color: #fff;
}



/* 10 Bottom banner */

.bottom-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10rem;
    background: #421F48;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.bottom-banner h1{
    font-size: 3.75rem;
    color: white;
    margin-bottom: 1.5rem;
}
.bottom-banner p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2.5rem;
}

/* bottom banner 2 */

.bottom-banner-2{
    justify-content: center;
}
.bottom-banner-2 .banner-text{
    max-width: none;
}
.bottom-banner-2 h1{
    color: white;
    font-size: 3.75rem;
    padding-left: 2rem;
}
 .bottom-banner-2 p{
    max-width: 50%;
    color: #000;
}
.bottom-banner-2{
    background-color: transparent;
    padding: 0;
}
.bottom-banner-2 .banner-text{
    background-color: #421F48;
    padding-top: 5.5rem;
    padding-bottom: 7.75rem;
    padding-left: 6.5rem;
    flex: 1;
}
 .bottom-banner-right{
    background-color: transparent;
    flex: 1;
}


/* 11. Footer */

footer{
    border-top: 1px solid black;
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem 0rem 7rem;
}
footer  img{
    width: 5rem;
    height: 5rem;
}
footer p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
footer ul{
    list-style: none;
}
footer li{
    font-weight: 400;
    margin-bottom: .75rem;
}
footer input{
    width: 100%;
    margin-bottom: 1rem;
    padding: .75rem;
    border: 1px solid black;
}




/* About Page */

.about-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 7rem 6.5rem;
    gap: 3rem;
}

.about-section .content h1, .about-section .content p, .about-section .content ul{
    max-width: 38rem;
}
.about-section .content h1, .about-section .content p{
    margin-bottom: 1.5rem;
}
.about-section .content h1{
    font-size: 3.5rem;
}
.about-section .content p{
    font-size: 1.125rem;
    margin-bottom: 3rem;
}




/* GCC */

.gcc .banner, .ir .banner{
    background: transparent;
}
.gcc .banner .banner-text, .ir .banner .banner-text{
    padding-left: 5rem;
    max-width: 40%;
}
.gcc .banner-text h1{
    font-size: 2.5rem;
}
.gcc .banner-text h1, .gcc .banner-text p, .gcc .banner-buttons, .op-bottom-banner .banner-buttons, .op-bottom-banner .banner-text h1{
    padding-left: 0;
}

.gcc .working-group {
    margin-top: 7rem;
}

.gcc .bottom-banner, .op-bottom-banner{
    justify-content: center;
}
.gcc .bottom-banner .banner-text, .op-bottom-banner .banner-text{
    max-width: none;
}
.gcc .bottom-banner h1, .op-bottom-banner h1{
    font-size: 3.75rem;
    max-width: 70%;
}
.gcc .bottom-banner p, .op-bottom-banner p{
    max-width: 50%;
    color: #000;
}
.gcc .bottom-banner, .op-bottom-banner{
    background-color: transparent;
    padding: 0;
}
.gcc .bottom-banner .banner-text, .op-bottom-banner .banner-text{
    background-color: #421F48;
    padding-top: 5.5rem;
    padding-bottom: 7.75rem;
    padding-left: 6.5rem;
    flex: 1;
}
.gcc .bottom-banner-right, .op-bottom-banner .bottom-banner-right{
    background-color: transparent;
    flex: 1;
}



/* International Regions */


.ir .banner .banner-text h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-left: 0;
}
.ir .banner .banner-text ul{
    font-size: 1.125rem;
    margin-left: 1.5rem;
}

.ir .banner-image{
    height: 50vh;
    width: 100%;
}
.ir .banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ir-nr-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.ir-btn, .nr-btn{
    padding: 1.25rem 2rem;
    border-left: 1px solid black;
    font-size: 1.25rem;
}
.ir-btn a, .nr-btn a{
    color: #000;
    text-decoration: none;
}
.nr-btn{
    border-right: 1px solid black;
}

.region-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #DCDCC4;
    flex-wrap: wrap;
}
.region-list-container ul{
    background-color: white;
    padding: 3rem;
    border: 1px solid;
}
.region-list-container li{
    font-size: 1rem;
}
.region-list-container a{
    text-decoration: none;
    color: black;
}

.ir .banner-buttons{
    padding-left: 0;
}

/* Regional */

.regional .region-list-container{
    gap: 1.5rem;
    padding: 6rem 10rem;
}
@media (min-width: 1650px) {
    .regional .region-list-container{
        padding: 6rem 15rem;
    }
}
.regional-card{
    width: 32.5rem;
    height: auto;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
}
.regional-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.regional-card h3{
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    padding: 1.25rem 2.5rem;
    background-color: #000;
    color: #fff;
}
.region-active a{
    color: white;
}

/* Africa */

.africa .banner-text h1, .sb .banner-text h1{
    font-size: 6rem;
}


.country-collapsable-container{
    padding: 6rem 10rem;
}
.collapsible {
    padding: .5rem .75rem;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.country-name-flag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.flag-container{
    width: 3rem;
    height: 3rem;
    
}
.flag-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 100%;
}


.country-collapsable-container .content {
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    display: none;
    overflow: hidden;
    background-color: #F4F4F4;
    font-size: 1.25rem;
    border: 1px solid black;
    border-top: none;
}


/* resource grid */

.resource-grid{
    padding: 7rem 10rem;
    width: 100%;
}

.resource-grid ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.resource-grid li{
    font-size: 1.5rem;
    font-weight: normal;
}

.active-filter-link{
    color: #EB6928;
}

.search-filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2rem;
    border: 1px solid black;
}
.search input{
    min-width: 35rem;
    padding: 1rem;
    font-size: 1.125rem;
}
.search .button{
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
}

.search-filter-container select{
    min-width: 12rem;
    padding: 1rem .75rem;
    border: 1px solid black;
    font-size: 1.125rem;
}

.applied-filter{
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.applied-filter-name{
    padding: .5rem 1rem;
    background: #FFF1EA;
    border: 1px solid #EB6928;
    border-radius: 50px;
}

.resource-grid .latest-news{
    padding: 0;
    margin-bottom: 0;
}
.resource-grid .card{
    position: relative;
}
.category-tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DFD54D;
    padding: .75rem 2rem;
    font-weight: normal;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.search-filter-container h3{
    font-size: 3rem;
}

.resource-header-v2 .search-filter-container, .resource-header-v2 ul{
    margin-bottom: 3.5rem ;
}
.load-more{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
}


/* Single post page */

.single-post{
    display: flex;
    padding: 7rem 10rem;
}

.toc{
    flex: 1;
    padding-top: 1.5rem;
}
.post-body{
    flex: 2;
}
.toc-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.toc-list{
    padding-left: 1.5rem;
    margin-bottom: 3rem;
    font-weight: normal;
}
.toc-list li{
    margin-bottom: .5rem;
}
.toc-list a{
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.toc-list a:hover{
    color: #EB6928;
}

.share-container{
    display: flex;
    align-items: center;
    gap: .75rem;
}
.share-container p{
    font-size: 1.25rem;
}

.post-body .category-tag{
    position: relative;
    width: fit-content;
    border: 1px solid black;
    margin-bottom: 1.5rem;
}

.post-body .title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.post-body .author-date{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.post-body p{
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
    color: black;
    margin-bottom: 3rem;
}
.post-body a{
    color: #EB6928;
}
.post-body blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 3rem;
}
.post-body blockquote p{
    font-family: mulish, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.125rem;
    text-align: center;
    color: #421F48;
}
.post-body blockquote cite{
    font-family: mulish, sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    position: relative;
}
.post-body blockquote cite::after{
    position: absolute;
    content: '';
    border: .5px solid #DFD54D;
    width: 100%;
    bottom: 0;
    right: 0;
}
.post-body figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.post-body figure figcaption{
    font-family: mulish, sans-serif;
    font-weight: normal;
    font-style: italic;
    size: .875rem;
}


/* Our Platform */

.our-platform-sec-2{
    display: flex;
    align-items: center;
    padding: 6.5rem;
    gap: 2.5rem;
}
.our-platform-sec-2 .sec-2-row1, .our-platform-sec-2 .sec-2-content{
    flex: 1;
}
.our-platform-sec-2 .sec-2-row1 h3{
    font-size: 2.5rem;
}

.our-platform-sec-2 .sec-2-row1 img{
    width: 100%;
    object-fit: cover;
}
.our-platform-sec-2 .sec-2-content p{
    margin-bottom: 1.5rem;
}
.our-platform-sec-2 .sec-2-content li{
    margin-bottom: 1rem;
}

.our-platform-sec-3{
    background-color: #421F48;
    padding: 7rem 6.5rem;
    margin-bottom: 3rem;
}
.our-platform-sec-3 h3, .our-platform-sec-3 p{
    text-align: center;
}
.our-platform-sec-3 h3{
    font-size: 2.5rem;
    color: #DCDCC4;
    margin-bottom: 2rem;
}
.our-platform-sec-3 p{
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 2rem;
}
.sec-3-flex-wrapper{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.sec-3-card{
    background-color: #fff;
    padding: 2rem;
}

