@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mulish-200 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.mulish-300 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.mulish-400 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.mulish-500 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.mulish-600 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.mulish-700 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.mulish-800 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.mulish-900 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.mulish-1000 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}
.brawler-400 {
    font-family: "Brawler", serif;
    font-weight: 400;
    font-style: normal;
}
  
  .brawler-700 {
    font-family: "Brawler", serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p{
    font-weight: 0;
}


/* 1. Buttons */

.button{
    padding: .75rem 1.25rem;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    max-width: fit-content;
    text-decoration: none;
}
.primary-btn{
    background-color: #000;
    color: white;
}
.primary-btn:hover{
    background-color: #EB6928;
    border-color: #EB6928;
}
.secondary-btn{
    background-color: white;
    color: #000;
}
.secondary-btn:hover{
    background-color: #EB6928;
    color: #fff;
    border-color: #EB6928;
}

.region-active, .button-active{
    background-color: #EB6928;
    color: white;
}

.button-active{
    border: 1px solid #EB6928;
}
.button-active:hover{
    color: #EB6928;
    background-color: #fff;
}



/* 2. Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}
.logo-container{
    padding: 8px;
    border-right: 1px solid;
    max-width: fit-content;
}
.logo-img{
    width: 75px;
    height: 75px;
}
.desktop-memu{
    display: block;
}
nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-right: 3.5rem;
}
nav .main-menu{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}
.main-menu-item{
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 15rem;
    z-index: 1;
    padding-top: .5rem;
    border: 1px solid black;
}
.main-menu-item:hover > .dropdown-content{
    display: block;
}
.dropdown-content li {
    padding: .75rem;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
}

.dropdown-content li:hover {
    background-color: #FFF1EA;
}

.dropdown-content li:hover > .dropdown-content-side{
    display: block;
    z-index: 2;
    left: 100%;
}

@media (max-width: 1024px) {
    nav .main-menu{
        gap: 1rem;
    }
}
@media (max-width: 768px) {
    .desktop-memu{
        display: none;
    }
}

/* Mobile menu */

.mobile-menu{
    display: none;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.menu a, .menu h4 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #f1f1f1;
}

.menu .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.open-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    z-index: 999;
    position: relative;
    margin-right: 2rem;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 500;
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
}

.mobile-menu .country-collapsable-container{
    padding: 4rem;
}
.mobile-menu .collapsible{
    border: none;
    border-bottom: 1px solid black;
}
.mobile-menu .country-collapsable-container .content{
    background: #fff;
    border: none;
    border-bottom: 1px solid black;
}
.mobile-menu .country-collapsable-container ul{
    list-style-type: none;
}


@media (max-width: 768px) {
    .mobile-menu{
        display: block;
    }
    .open-btn{
        display: block;
    }
}

/* 3. Banner */


.banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #d6c537;
    color: #000;
    gap: 4rem;
    border-bottom: 1px solid black;
}
.banner-text, .banner-image {
    flex: 1;
}
.banner-text h1, .banner-text p{
    padding-left: 15rem;
}
.banner-text h1 {
    margin: 0;
    font-size: 3em;
}
.banner-text p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}
.banner-buttons {
    display: flex;
    gap: 10px;
    padding-left: 15rem;
}
.banner-image{
    height: 60vh;
}
.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .banner-buttons{
        padding-left: 8rem;
    }
    .banner-text h1, .banner-text p{
        padding-left: 8rem;
    }
}
@media (max-width: 768px) {
    .banner{
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .banner-text h1, .banner-text p{
        text-align: center;
        padding: 0rem 3rem;
    }
    .banner-buttons{
        padding: 0rem 3rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

    }
    .banner-buttons .button{
        width: 100%;
        max-width: none;
        text-align: center;
    }
}


/* 4. COP 28 Section */

.cop-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 6.5rem;
    gap: 3rem;
}
/* .cop-section .images, .cop-section .content{
    flex: 1;
} */
.cop-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cop-img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cop-section .image-row2, .about-section .image-row2{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.cop-image1-container{
    width: 600px;
    border: 1px solid black;
}
.cop-image2-container, .cop-image3-container{
    width: 288px;
    border: 1px solid black;
}


.cop-section .content h1, .cop-section .content p, .cop-section .content ul{
    max-width: 38rem;
}
.cop-section .content h1, .cop-section .content p{
    margin-bottom: 1.5rem;
}
.cop-section .content ul{
    margin-bottom: 3rem;
}
.cop-section li, .campaign-section li{
    margin-bottom: 1rem;
}

@media (max-width: 1280px) {
    .cop-section{
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .cop-section{
        margin: 5rem 1.5rem;
    }
    .cop-image1-container{
        width: 400px;
    }
    .cop-image2-container, .cop-image3-container{
        width: 188px;
    }
}

/* 5. Latest News */

.latest-news {
    padding: 0 10rem;
    margin-bottom: 7rem;
}

.latest-news h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
}

.card {
    border: 1px solid black;
}

.latest-news .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card .date, .card h3{
    text-align: left;
}

.card .date {
    font-size: 0.875rem;
    color: black;
    padding: 1rem 1rem 0rem 1rem;
    width: 100%;
}

.card h3 {
    font-size: 1rem;
    margin: 0rem 1rem 2.5rem 1rem;
    cursor: pointer;
}
.card h3:hover{
    text-decoration: underline
}

@media (max-width: 1024px) {
    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .latest-news{
        padding: 0rem 5rem;
    }
}
@media (max-width: 425px) {
    .latest-news{
        padding: 0rem 1.5rem;
    }
    .latest-news h2{
        font-size: 2rem;
    }
    .news-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 6. Video Section */

.video-section{
    background: #EEEEEE;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-title{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}
.video{
    margin-bottom: 3rem;
}
.homepage-video{
    width: 960px;
    height: 540px;
}
@media (max-width: 1024px) {
    .homepage-video{
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 768px) {
    .video-title{
        font-size: 1.5rem;
    }
    .homepage-video{
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 425px) {
    .video-section{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .homepage-video{
        width: 360px;
        height: 200px;
    }
}

/* 7. Podcast */

.latest-podcasts, .dcj-members {
    margin: 7rem 0;
    padding: 0 11.125rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.header h2 {
    margin: 0;
    font-size: 2.5rem;
}

.view-more {
    padding: 1rem 1.25rem;
    border: 1px solid #ff4500;
    background: none;
    cursor: pointer;
    display: block;
}
.view-more:hover{
    background: #EB6928;
    color: white;
}

.podcast-cards, .member-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.podcast-card, .member-card {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.icon {
    margin-right: 3rem;
    padding: 3rem;
    border-right: 1px solid;
    background-color: #DCDCC4;
}

.icon img {
    width: 3rem;
    height: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h3 {
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.date {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.play-btn, .volume-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.duration {
    margin: 0 1rem;
    font-size: 0.875rem;
}

.view-more-mobile{
    display: none;
    width: 100%;
    
}
@media (max-width: 768px) {
    .view-more{
        display: none;
    }
    .view-more-mobile{
        display: block;
    }
    .latest-podcasts, .dcj-members{
        padding: 0rem 3rem;
    }
    .header h2{
        font-size: 1.5rem;
    }
    .latest-podcasts .content{
        padding: 1rem 0rem;
    }
    .latest-podcasts .icon{
        padding: 7rem 3rem;
    }
}
@media (max-width: 425px) {
    .latest-podcasts, .dcj-members{
        padding: 0rem 1.5rem;
        margin: 3rem 0;
    }
    .latest-podcasts .content h3{
        font-size: 1rem;
    } 
    .icon{
        margin-right: .5rem;
    }
}


/* 8. Working Group */

.working-group {
    padding: 0 11.125rem;
    margin-bottom: 7rem;

}

.working-group h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.working-group .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    background: #DFD54D;
}

.working-group .card img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.75rem;
}

.working-group .card h3 {
    margin: 0.75rem 0 0.75rem 0;
    font-size: 1.25rem;
    text-align: center;
}

.working-group .card p {
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: .75rem;
    padding-left: .5rem;
    padding-right: .5rem;
}


/* DCJ members homepage */

.member-card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-card h3{
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-top: 1.5rem;

}
.member-card h3 span{
    color: #EB6928;
}
.member-card .member-content{
    font-size: 1.125rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}
.member-card .icon{
    padding: 4rem;
}
.member-card .icon img{
    width: 5.5rem;
    height: 5.5rem;
}
.member-card .forward-btn{
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-bottom: 1rem;
    align-self: flex-end;
    margin-right: 2rem;
    cursor: pointer;
}
.member-card .forward-btn svg:hover > path{
    stroke: #EB6928;
    fill: #EB6928;
}

@media (max-width: 768px) {
    .member-card .icon{
        padding: 6rem 4rem;
    }
}
@media (max-width: 425px) {
    .member-card .icon{
        padding: 10rem 3rem;
    }
    .member-card .icon img{
        width: 2rem;
        height: 2rem;
    }
    .member-card h3{
        font-size: 1.125rem;
    }
    .member-card .member-content{
        font-size: 1rem;
        margin-right: .5rem;
    }
}



/* 9. Campaign Section */

.campaign-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 7rem;
    background-color: #000;
    padding: 6.25rem;
}

.campaign-section .content h1, .campaign-section .content p, .campaign-section .content ul{
    max-width: 38rem;
}
.campaign-section .content h1, .campaign-section .content p{
    margin-bottom: 1.5rem;
}
.campaign-section .content h1{
    color: #DCDCC4;
}
.campaign-section .content p{
    color: #fff;
}
.campaign-section .content ul{
    margin-bottom: 3rem;
    color: #fff;
}

@media (max-width: 1024px) {
    .campaign-section{
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .campaign-section{
        padding: 6rem 1.5rem;
    }
    .campaign-section img{
        width: 400px;
    }

}

/* 10 Bottom banner */

.bottom-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10rem;
    background: #421F48;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.bottom-banner h1{
    font-size: 3.75rem;
    color: white;
    margin-bottom: 1.5rem;
}
.bottom-banner p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2.5rem;
}

.bottom-banner h1, .bottom-banner p, .bottom-banner .banner-buttons{
    padding-left: 10rem;
}

/* bottom banner 2 */

.bottom-banner-2{
    display: flex;
    align-items: center;
}
.bottom-banner-text{
    height: 100%;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    padding-left: 6.5rem;
    min-width: 40vw;
    max-width: 50vw;
    background: #421F48;
    max-width: none;
}
.bottom-banner-2 h1{
    color: white;
    font-size: 3.75rem;
}
 .bottom-banner-2 p{
    color: #000;
    width: 400px;
}
.bottom-banner-2{
    background-color: transparent;
    padding: 0;
    border-top: 1px solid black;
}
 .bottom-banner-right{
    min-width: 50vw;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .bottom-banner-2 h1{
        font-size: 3rem;
    }
    .bottom-banner-right{
        padding-left: 3rem;
    }
}
@media (max-width: 768px) {
    .bottom-banner{
        flex-direction: column-reverse;
    }
    .bottom-banner h1, .bottom-banner p, .bottom-banner .banner-buttons{
        padding-left: 3rem;
    }
    .bottom-banner-text{
        padding-left: 3rem;
    }
    .bottom-banner-2 p{
        width: 16.25rem;
    }
}
@media (max-width: 425px) {
    .bottom-banner{
        gap: 4rem;
    }
    .bottom-banner h1{
        font-size: 3rem;
    }
    .bottom-banner-text{
        padding: 3rem 1.5rem;
    }
    .bottom-banner-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bottom-banner-2 h1{
        text-align: center;
    }
    .bottom-banner-right{
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .bottom-banner-right p{
        text-align: center;
    }
}

/* 11. Footer */

footer{
    border-top: 1px solid black;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 6rem 7rem 0rem 7rem;
}
footer  img{
    width: 5rem;
    height: 5rem;
}
footer p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
footer ul{
    list-style: none;
}
footer li{
    font-weight: 400;
    margin-bottom: .75rem;
}
footer input{
    width: 100%;
    margin-bottom: 1rem;
    padding: .75rem;
    border: 1px solid black;
}


@media (max-width: 1280px) {
    footer .subscribe{
        width: 100%;
    }
}
@media (max-width: 1024px) {
    footer{
        justify-content: normal;
    }
    .footer-logo-container{
        width: 100%;
    }
}
@media (max-width: 425px) {
    footer{

    padding: 3rem 1.5rem;
    }
}

/* About Page */

.about-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 7rem 6.5rem;
    gap: 3rem;
}

.about-section .content h1, .about-section .content p, .about-section .content ul{
    max-width: 38rem;
}
.about-section .content h1, .about-section .content p{
    margin-bottom: 1.5rem;
}
.about-section .content h1{
    font-size: 3.5rem;
}
.about-section .content p{
    font-size: 1.125rem;
    margin-bottom: 3rem;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1280px) {
    .about-section{
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .about-section{
        margin: 7rem 3.5rem;
    }
    .about-section .content h1{
        font-size: 1.5rem;
    }
    .about-section .content p{
        font-size: 1rem;
    }
    
}
@media (max-width: 425px) {
    .about-section{
        margin: 2rem 1.5rem;
    }
    .carousel{
        width: 100%;
    }
    
}


/* GCC */

.gcc .banner, .ir .banner{
    background: transparent;
}
.gcc .banner .banner-text, .ir .banner .banner-text{
    padding-left: 5rem;
    max-width: 45%;
}
.gcc .banner-text h1{
    font-size: 2.5rem;
}
.gcc .banner-text h1, .gcc .banner-text p, .gcc .banner-buttons{
    padding-left: 0;
}

.gcc .working-group {
    margin-top: 7rem;
}
.gcc .banner-image, .ir .banner-image{
    max-width: 50vw;
}


/* International Regions */


.ir .banner .banner-text h1{
    font-size: 2.75rem;
    margin-bottom: 1rem;
    padding-left: 0;
}
.ir .banner .banner-text ul{
    font-size: 1.125rem;
    margin-left: 1rem;
}
.ir .banner li{
    margin-bottom: 1rem;
}

.ir .banner-image{
    height: 100%;
    width: 100%;
}
.ir .banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 70vh;
}

.ir-nr-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.ir-btn, .nr-btn{
    padding: 1.25rem 2rem;
    border-left: 1px solid black;
    font-size: 1.25rem;
}
.ir-btn a, .nr-btn a{
    color: #000;
    text-decoration: none;
}
.nr-btn{
    border-right: 1px solid black;
}

.region-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #DCDCC4;
    flex-wrap: wrap;
}
.region-list-container ul{
    background-color: white;
    padding: 3rem;
    border: 1px solid;
}
.region-list-container li{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.region-list-container a{
    text-decoration: none;
    color: black;
}
.region-list-container a:hover{
    color: #EB6928;
}

.ir .banner-buttons{
    padding-left: 0;
}

/* Regional */

.regional .region-list-container{
    gap: 1.5rem;
    padding: 6rem 10rem;
}
@media (min-width: 1650px) {
    .regional .region-list-container{
        padding: 6rem 15rem;
    }
}
.regional-card{
    width: 32.5rem;
    height: auto;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.regional-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.regional-card h3{
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    padding: 1.25rem 2.5rem;
    background-color: #000;
    color: #fff;
}
.regional-card:hover > h3{
    background-color: #EB6928;
}
.region-active a{
    color: white;
}

/* Africa */

.africa .banner-text h1, .sb .banner-text h1{
    font-size: 6rem;
}
.africa .banner{
    margin-bottom: 6rem;
}


.country-collapsable-container{
    padding: 6rem 10rem;
}
.collapsible {
    padding: .5rem .75rem;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.country-name-flag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.flag-container{
    width: 3rem;
    height: 3rem;
    
}
.flag-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 100%;
}


.country-collapsable-container .content {
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    display: none;
    overflow: hidden;
    background-color: #F4F4F4;
    font-size: 1.25rem;
    border: 1px solid black;
    border-top: none;
}


/* resource grid */

.resource-grid{
    padding: 7rem 10rem;
    width: 100%;
}

.resource-grid ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.resource-grid li{
    font-size: 1.5rem;
    font-weight: normal;
}

.active-filter-link{
    color: #EB6928;
}

.search-filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    width: 100%;
    margin-bottom: 2rem;
}

.search{
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid black;
}
.search input{
    min-width: 35rem;
    padding: 1rem;
    font-size: 1.125rem;
}
.search .button{
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
}

.search-filter-container select{
    min-width: 12rem;
    padding: 1rem .75rem;
    border: 1px solid black;
    font-size: 1.125rem;
}

.applied-filter{
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.applied-filter-name{
    padding: .5rem 1rem;
    background: #FFF1EA;
    border: 1px solid #EB6928;
    border-radius: 50px;
}

.resource-grid .latest-news{
    padding: 0;
    margin-bottom: 0;
}
.resource-grid .card{
    position: relative;
}
.category-tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DFD54D;
    padding: .75rem 2rem;
    font-weight: normal;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.search-filter-container h3{
    font-size: 3rem;
}

.resource-header-v2 .search-filter-container, .resource-header-v2 ul{
    margin-bottom: 3.5rem ;
}
.load-more{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
}


/* Single post page */

.single-post{
    display: flex;
    padding: 7rem 20rem;
}

.toc{
    flex: 1;
    padding-top: 1.5rem;
}
.post-body{

    flex: 2;
}
.toc-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.toc-list{
    padding-left: 1.5rem;
    margin-bottom: 3rem;
    font-weight: normal;
}
.toc-list li{
    margin-bottom: .5rem;
}
.toc-list a{
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.toc-list a:hover{
    color: #EB6928;
}

.share-container{
    display: flex;
    align-items: center;
    gap: .75rem;
}
.share-container p{
    font-size: 1.25rem;
}

.post-body .category-tag{
    position: relative;
    width: fit-content;
    border: 1px solid black;
    margin-bottom: 1.5rem;
}

.post-body .title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.post-body .author-date{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.post-body p{
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.125rem;
    color: black;
    margin-bottom: 3rem;
}
.post-body a{
    color: #EB6928;
}
.post-body blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 3rem;
}
.post-body blockquote p{
    font-family: mulish, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.125rem;
    text-align: center;
    color: #421F48;
}
.post-body blockquote cite{
    font-family: mulish, sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    position: relative;
}
.post-body blockquote cite::after{
    position: absolute;
    content: '';
    border: .5px solid #DFD54D;
    width: 100%;
    bottom: 0;
    right: 0;
}
.post-body figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.post-body figure figcaption{
    font-family: mulish, sans-serif;
    font-weight: normal;
    font-style: italic;
    size: .875rem;
}


/* Our Platform */

.our-platform-sec-2{
    display: flex;
    align-items: center;
    padding: 6.5rem;
    gap: 2.5rem;
}
.our-platform-sec-2 .sec-2-row1, .our-platform-sec-2 .sec-2-content{
    flex: 1;
}
.our-platform-sec-2 .sec-2-row1 h3{
    font-size: 2.5rem;
}

.our-platform-sec-2 .sec-2-row1 img{
    width: 100%;
    object-fit: cover;
}
.our-platform-sec-2 .sec-2-content p{
    margin-bottom: 1.5rem;
}
.our-platform-sec-2 .sec-2-content li{
    margin-bottom: 1rem;
}

.our-platform-sec-3{
    background-color: #421F48;
    padding: 7rem 6.5rem;
}
.our-platform-sec-3 h3, .our-platform-sec-3 p{
    text-align: center;
}
.our-platform-sec-3 h3{
    font-size: 2.5rem;
    color: #DCDCC4;
    margin-bottom: 2rem;
}
.our-platform-sec-3 p{
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 2rem;
}
.sec-3-flex-wrapper{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.sec-3-card{
    background-color: #fff;
    padding: 2rem;
}

.op-sec4{
    padding: 7rem 6.5rem;
}
.op-sec4-row{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.op-sec4-content{
    padding: 2rem;
    background-color: #fff;
    border: 1px solid black;
}
.op-sec4-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}.op-sec4-content p{
    font-size: 1.125rem;
}
.op-sec4-img-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.op-sec4-img{
    max-width: 540px;
    min-width: 500px;
    height: 100%;
    object-fit: cover;
}
.op-sec4-img img{
    width: 100%;
    height: 100%;
}


.op-sec5-title{
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    text-align: center;
}
.op-sec5-accordian{
    display: flex;
    align-items: center;
    gap: 24px;
}
.poppins{
    font-family: poppins;
    font-weight: 600;
    font-size: 2rem;
}
.op-sec5-accordian-title{
    font-size: 1.25rem;
}


@media (max-width: 1024px) {
    .our-platform-sec-2{
        flex-direction: column;
    }
    .op-sec4-img-flex{
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .our-platform-sec-2 .sec-2-row1 h3, .our-platform-sec-3 h3, .op-sec5-title{
        font-size: 2rem;
    }
    .our-platform-sec-3, .op-sec4, .country-collapsable-container{
        padding: 6rem 3rem;
    }
    .op-sec4-content h3{
        font-size: 1.5rem;
    }
    .op-sec4-content p{
        font-size: 1rem;
    }
    .op-sec5-accordian-title{
        font-size: 1.025rem;
    }
    .poppins{
        font-size: 1.5rem;
    }
    .country-collapsable-container li{
        font-size: 0.875rem;
    }
}
@media (max-width: 425px) {
    .our-platform-sec-2,  .country-collapsable-container, .op-sec4, .our-platform-sec-3{
        padding: 3rem 1.5rem;
    }
    .op-sec5-title{
        font-size: 1.5rem;
    }
    .sec-3-flex-wrapper, .op-sec4-row{
        flex-direction: column;
    }
    .op-sec4-img{
        min-width: 262px;
    }
    .country-collapsable-container .content{
        padding-left: 2rem;
    }
}



/* climate-campaign */

.climate-campaign .banner-text h1{
    font-size: 3.125rem;
}

/* Afric Article */

.africa-article .banner-text h1{
    font-size: 4rem;
}

.climate-campaigns .banner-text h1{
    font-size: 4rem;
}

.filter-dropdown{
    display: flex;
    gap: 1rem;
}